/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: var(--Inter-Variable-main-font), sans-serif;
  font-variation-settings: 'wght'var(--wgh-title);
  color: var(--text-color);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  inline-size: var(--block-size);
  min-block-size: 368px;
  outline: 2px solid var(--brd-color);
  font-family: var(--PressStart2P-Regular-alternative-font), sans-serif;
  text-transform: uppercase;
  background-color: var(--bg-color);
  margin: 100px 370px;
}

.header-title {
  font-size: clamp(49px, 4dvw, 65px); 
  font-weight: 400;
  line-height: 100%;
}

.header__title-text {
  font-size: clamp(12px, 2dvw, 23px);
  font-weight: 400;
  line-height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin: 0 370px 52px;
}

.article {
  inline-size: var(--block-size);
  outline: 2px solid var(--brd-color);
  background-color: var(--bg-color);
  font-size: 18px;
}

.article__title {
  line-height: 100%;
  font-weight: 715;
  font-size: inherit;
  padding: 6px 12px;
}

.article__paragraph {
  display: grid;
  gap: 25px;
  padding: 21px 27px 27px;
}

.article__image-container {
  position: relative;
}

.article__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article__image-container-text {
  position: absolute;
  content: '';
  top: 27px;
  right: 27px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-family: var(--PressStart2P-Regular-alternative-font);
  font-size: 14px;
  font-weight: 400;
  text-shadow: -1px 1px var(--shadow-color), 1px -1px var(--shadow-color);
}

@supports ((text-stroke: 1px var(--shadow-color)) or (-webkit-text-stroke: 1px var(--shadow-color))) {
  .article__image-container-text {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

.article__paragraph-text {
  font-variation-settings: 'wght'var(--wgh-card);
  background-color: var(--bg-color);
  line-height: 21px;
  font-weight: 410;
}

.article__buttons {
  display: flex;
  column-gap: 8px;
  justify-content: end;
  align-items: center;
  padding-inline-end: 2px;
}

.card__like-button {
  position: relative;
  background-color: var(--bg-color);
  border: none;
  outline: 2px solid var(--brd-color);
  width: 126px;
  height: 36px;
  transition: box-shadow 0.3s ease;
}

.card__like-button:hover {
  cursor: pointer;
}

.card__like-button:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brd-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0 0;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.card__like-button:focus {
  box-shadow: 4px 4px currentColor;
}

.card__icon-button {
  background-color: var(--bg-color);
  padding: 0;
  border: none;
  outline: 2px solid transparent;
  padding-block-start: 1px;
  height: 36px;
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  border: none;
  outline: 2px solid var(--brd-color);
}

.button__text {
  font-family: var(--PressStart2P-Regular-alternative-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  position: relative;
  mix-blend-mode: difference;
  color: var(--text-color-alternative);
}

.footer {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-block-end: 100px;
  justify-content: center;
  align-items: center;
}


.footer__button .footer-floppy  {
  position: relative;
  color: var(--text-color-alternative);
  mix-blend-mode: difference;
}

.footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 8px;
  background-color: var(--bg-color);
  border: none;
  outline: 2px solid var(--brd-color);
  width: 335px;
  height: 55px;
  padding: 17px 20px;
  transition: box-shadow 0.3s ease;
}

.footer__button:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brd-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0 0;
}

.footer__button:hover::before {
  transform: scaleX(1);
}

.footer__button:focus {
 box-shadow: 4px 4px currentColor;
}

.dialog {
  border: none;
  outline: 2px solid var(--brd-color);
  background-color: var(--bg-color);
  top: 150px;
  padding: 30px;
  width: 353px;
  height: 191px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
}

.dialog__container {
  display: grid;
  align-items: center;
  gap: 20px;
  grid-template-columns: min-content;
  margin-block-end: 30px;
  text-transform: uppercase;
}

.dialog__container .button__text {
  grid-column: 2 / 2;
  line-height: 150%;
}

.dialog__button {
  position: relative;
  inline-size: 100%;
  border: none;
  outline: 2px solid var(--brd-color);
  background-color: transparent;
  text-transform: uppercase;
  padding: 9px 0;
  transition: box-shadow 0.3s ease;
}

.dialog__button::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brd-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0 0;
}

.dialog__button:hover::before {
  transform: scaleX(1);
}

.dialog__button:focus {
  box-shadow: 4px 4px currentColor;
}

